---
import { Font } from "astro:assets";
import "../../styles/index.css";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" href="/favicon.ico" />
<title>IDEA Compass</title>
<Font cssVariable="--font-switzer" preload />
<meta property="og:title" content="IDEA Compass" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://ideacompass.md/" />
<meta property="og:description" content="IDEA Compass" />
