/* stylelint-disable no-duplicate-selectors */
[data-scheme="light"] {
	color-scheme: light;
}

[data-scheme="dark"] {
	color-scheme: dark;
}

/* Colors */
[data-theme="default"] {
	color-scheme: light dark;

	--t-color-brand-primary: light-dark(oklch(68% 0.2 40deg), oklch(94.42% 16.1% 124.53deg));

	--t-color-scheme-direction: light-dark(1, -1);

	--t-color-foreground-base: light-dark(oklch(25% 0.01 50deg), oklch(95% 0.01 125deg));
	--t-color-foreground-weak: oklch(
		from var(--t-color-foreground-base) calc(l + 0.2 * var(--t-color-scheme-direction)) c h
	);
	--t-color-foreground-strong: oklch(
		from var(--t-color-foreground-base) calc(l - 0.1 * var(--t-color-scheme-direction)) c h
	);

	--t-color-selection-background: ;
	--t-color-selection-foreground: ;
}

[data-theme="default"] {
	--t-color-background-root: light-dark(oklch(92.77% 0.0092 76.6deg), oklch(31.51% 0.0087 159.59deg));
	--t-color-foreground-root: var(--t-color-foreground-base);

	--t-color-background-page: ;
}
